.mainFab::part(native){
    background-color: #29ABE1;
    position: fixed;
    box-shadow: 1px 1px 10px black;
}

.secondaryFab::part(native){
    color: #29ABE1;
}

//#videoBG{
   // position: fixed;
   // height: 100lvh;
   // z-index: -1;
//}

ion-content::part(background){
    background-image: url("../../assets/bg.png");
    background-position: 30% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 50%;
}

.mainText1{
    position: fixed;
    margin-top: 60lvh;
    color: white;
    font-weight: 600;
    font-size: 60px;
    margin-left: 5%;
}

.mainText2{
    position: fixed;
    color: white;
    font-weight: 600;
    font-size: 60px;
    margin-top: 67lvh;
    margin-left: 5%;
}

.mainText3{
    position: fixed;
    color: white;
    font-weight: 600;
    font-size: 60px;
    margin-top: 74lvh;
    margin-left: 5%;
}

.mainText4{
    position: fixed;
    color: white;
    font-weight: 600;
    font-size: 60px;
    margin-top: 81lvh;
    margin-left: 5%;
}

.mainContents {
    height: 100lvh;
    width: 100%;
    margin-top: 100lvh;
    margin-left: 0;
    margin-bottom: -10lvh;
    border-radius: 20px;
}

ion-card-header {
    background-color: #29ABE1;
    color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px gray;
}

ion-card-title {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

ion-card-content{
    padding: 15px;
    color: black;
}

ion-list {
    background: transparent;
}

ion-item {
    --background: transparent;
    margin: 5px 0;
}

.info-card{
    border-radius: 20px;
}
